@import "/css/palette.css";
@import "/css/font.css";

body
{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    margin: 0;
}

header
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    display: flex;
    flex-direction: row;
    background-color: var(--background-light-1);
}

header p
{
    margin-left: 10px;
}

footer
{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    background-color: var(--background-light-1);
}

main
{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--background-light-4);
}

.page-container
{
    min-width: 0;
    flex-grow: 1;
}

.menu
{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--background-light-3);
    
}

.menu-item
{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 2px;
    border: none;
    background-color: inherit;
}

.menu-displayer
{
    padding: 20px;
}